Command:  .rules                                              Level: 0

 Syntax:  .rules

Results:  This command will show the rules of the talker, which is
          a combination of good netiquette and a disclaimer.

See also: news
